# Dealing with Data: Take Home Final Exam

# Name (Last, First):

# NYU email:

# Part 1: Regular Expressions (10Pts)

#### a.	(5 pts) 

#### The following regular expression attempts (but fails) to find a string containing dollars and cents where the cents are optional.   

`\$[0-9]*\.[0-9]{2}`  

#### A valid string should start with the dollar sign, have an integer part, and can have either two decimal digits or none. (Also, it cannot be a negative value.) Find two valid character strings that are not matched by this regular expression, and one invalid string that gets rejected.  To get full credit, the answers should demonstrate a different deficiency, and cannot be just the same deficiency demonstrated with a different number.

** A valid string that gets rejected

** A valid string that gets rejected

** An invalid string that gets accepted

#### b.	 (5pts)

#### In the medieval times (i.e., pre-2007), the phones had physical keyboards, and each digit was assigned to a set of letters, as follows:

<img src="http://drive.google.com/uc?export=view&id=0B3FTig3YiNOoaUhYd2ZsN3FudWM&authuser=0" />

#### This number-letter assignment allowed companies to advertise their phone numbers using easy-to-remember letters (e.g., 1-800-VERIZON) instead of listing the actual phone number (i.e., 1-800-8374966). You are now asked to:

#### b1. Write a regular expression that will find all the 7-letter words that correspond to the number 9662437 (ignore the need to match different cases for the letters). Remember to use the anchor expressions for beginning-of-line and end-of-line.

####your regular expression here###

In [ ]:
# This is just for your testing
# If you want to write the regex in grep format, rememeber that you need to replace `{` with `{{` and `}` with `}}`

!grep -E --ignore-case '####your regular expression here###' /usr/share/dict/words

#### b2. Write a regular expression that will retrieve all the 7-letter words that can be spelled using only the numbers 4, 5, and 6. Remember to use the anchor expressions for beginning-of-line and end-of-line.

####your regular expression here###

In [ ]:
# This is just for your testing
# If you want to write the regex in grep format, rememeber that you need to replace `{` with `{{` and `}` with `}}`
!grep -E --ignore-case '####your regular expression here###' /usr/share/dict/words

 ---

## Part 2: Python Data Structures (4 pts)

You are given the following Python data structure. (You can execute the code below.)

In [ ]:
data = {
        "Panos": { 
            "Job": "Professor", 
            "YOB": "1976", 
            "Children": ["Gregory", "Anna"]
            }, 
        "Joe": {
            "Job": "Data Scientist", 
            "YOB": "1981"
            }
    }

You need to write Python code that:

#### 1. Prints the job of Joe

In [ ]:
#your code here

#### 2. Prints the year of birth of Panos

In [ ]:
#your code here

#### 3. Prints the children of Panos

In [ ]:
#your code here

#### 4. Prints the second child of Panos

In [ ]:
#your code here

#### 5. Prints the number of people entries in the data

In [ ]:
#your code here

#### 6. Checks if Maria is in the data

In [ ]:
#your code here

#### 7. Checks if Panos has children

In [ ]:
#your code here

#### 8. Checks if Joe has children

In [ ]:
#your code here

---

## Part 3: XPath (6 pts)

#### a. For the following XML file, type the XPath expression that:

In [ ]:
%%file example1.xml
<?xml version="1.0" encoding="UTF-8"?>
<A> 
    <B></B> 
    <C></C>
    <A>
        <C></C>
    </A>
    <D>
        <B></B>
    </D>
    <C>
        <D>
            <B></B>
            <B></B>
        </D> 
    </C> 
</A>

#### Selects the root element A:

### Your XPath expression here

#### Selects the elements C that are children (not just descendants) of the root element A:

### Your XPath expression here

#### Selects all elements B:

### Your XPath expression here

#### Selects all elements B that are children of D:

### Your XPath expression here

####  b.	For the following XML file, type the XPath expression that

In [ ]:
%%file example2.xml
<?xml version="1.0" encoding="UTF-8"?>
<A>
    <B id = "b1">This is</B>
    <B name = "bbb">a pretty easy midterm</B>
    <B name = "bbb">Right?</B>
</A>

#### Selects the B element that has attribute id with value b1:

### Your XPath expression here

#### Selects the second B element that has attribute name with value bbb:

### Your XPath expression here

---

## Part 4: SQL (20 pts)

#### You are given the IMDB database that we used in class, with the following schema, and you need to write SQL queries for the following:

<img src="http://drive.google.com/uc?export=view&id=0B3FTig3YiNOoZl9HYVl4VnVJU3M&authuser=0" />

In [ ]:
# Below please enter the right password to connect to your IMDB database
%load_ext sql

%sql mysql://root:dwdstudent2015@youripaddress:3306/imdb

#### (2pts) Find all the actor_id’s for the actors that played the role of “Guard” in a movie.

In [ ]:
%%sql 
#your SQL statement here

#### (2pts) Find all the movie names for movies with a rank above 8.0 and released after 2000

In [ ]:
%%sql 
#your SQL statement here

#### (2pts) Find all the distinct movie genres

In [ ]:
%%sql 
#your SQL statement here

#### (2pts) Find the number of all directors

In [ ]:
%%sql 
#your SQL statement here

#### (2pts) Find the number of all directors with name Steve

In [ ]:
%%sql 
#your SQL statement here

#### (3 pts) Find the director ids for all directors that directed more than 30 movies

In [ ]:
%%sql 
#your SQL statement here

#### (3 pts) Find the actors ids for the actors played in the movie “Casablanca”

In [ ]:
%%sql 
#your SQL statement here

#### (4 pts) Find the average ranking of movies released in each year after 1940 (excl), broken down by genre. Show the results only for year-genre combinations with at least 10 movies that have a non-NULL rank value. Order the results first by genre (in asc. order) and then by average rank (in desc. order).

In [ ]:
%%sql 
#your SQL statement here

---

## Part 5 (15 Pts)

### You are trying to come up with a name for a new startup. The name has to satisfy two hard requirements: The .com domain should be available, and there should not be another company that has trademarked the name.

#### 1. Your first task is to write a function that takes as input the name (say, name = “clathro”), and checks if the .com domain that corresponds to that name is available. You can use the WhoisXMLAPI Domain availabiity API (https://www.whoisxmlapi.com/domain-availability-api.php), or the WhoAPI (https://whoapi.com/), or any other equivalent service for this task. (You will need to signup, but you can use the free versions.)

In [ ]:
### Your code here

#### 2. The second task is to write a function that checks if the trademark is available for registration. Unfortunately, there is no good API available for this task, so you will need to resort to crawling. You can use the Trademarkia website to check if a particular name exists as a trademark or not, by using its search form (e.g., for searching for the "google" term, you search http://www.trademarkia.com/trademarks-search.aspx?tn=google). Since we only care if the trademark is registered or not, the task is relatively simple: If the response of the website contains the phrase "This name is not found in our database of U.S. trademarks", then the function can return that there is no such trademark; otherwise the function can return that there is already such a trademark.

In [ ]:
### Your code here

#### 3. Think of a set of company names that you want to check and put them in a Python list. 

#### Then create a loop that tests each of the terms (using the functions of Step 1 and 2 above) and see if it qualifies as a viable company name (i.e., it has an available domain name and trademark).

In [ ]:
### Your code here